/*.lo
/*.o
/.deps
/Makefile
/Makefile.in
/aclocal.m4
/arkimet-postprocess-json-*.tar.gz
/arkimet-postprocess-json.7
/README.html
/autom4te.cache/
/autoscan.log
/bufr2json
/bufr2json.7
/bufr2json.7.html
/bufr2json.7.txt
/bufr2json.7.xml
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/configure.scan
/depcomp
/install-sh
/json
/missing
/stamp-h1
