/Makefile
/Makefile.in
/README.html
/aclocal.m4
/arkimet-postprocess-subarea-*.tar.gz
/arkimet-postprocess-subarea.7
/autom4te.cache/
/config.log
/config.status
/configure
/install-sh
/missing
/test-driver
